.MainCont{
    display: flex;
    justify-content: space-around;
}
.FirstMainCont{
    margin-top: 5%;
    margin-left: 5%;
}

.SecondMainCont{
    width: 50%;
    margin-right: 5%;
}


@media screen and (max-width: 950px) {
    .MainCont{
        flex-direction: column;
    }
    .FirstMainCont{
        text-align: center;
    }
    .SecondMainCont{
        display: block;
        margin: auto;
    }
    
}